body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.row {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: black;
}

.logo img {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 81px;
  left: 74px;
  font-size: 24px;
  font-weight: bold;
}
.column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
  height: 658px;
}

.column .column-wide {
  margin: 30px;
}
.column-wide {
  flex: 2;
}
.flamingo img {
  width: 326px;
  height: 535.95px;
  position: relative;
  right: 72px;
}

.desktop-navbar {
  display: flex;
  gap: 14px;
  position: absolute;
  top: 64.4px;
  right: 29px;
  
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  line-height: 32.2px;
}
.anchor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.desktop-navbar .anchor {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  border-radius: 4px;
  align-items: center;
  display: flex;
}

.desktop-navbar .anchor .icon {
  margin-right: 10px;
}
.navbar .menu-item {
  display: flex;
  align-items: center;
}
.nav-link {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.2s ease; /* Add the transition for the color change */
}

.nav-link:hover {
  color: #f600ff; /* Change the color on hover */
}
.icon {
  margin-left: 4px;
}

.footer {
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  color: #fff;
  height: 370px;
  position: relative;
  overflow: hidden;
  padding-left: 16%;
}
.footer-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.footer h3{
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 22px;
    
}
.footer-icon{
    padding: 20px;
    /* height: 50px; */
    
}
.footer-icon-bar{
    /* margin-left: -2px; */
    /* margin: auto; */
    display: flex;
    align-items: flex-end;
    margin-top: -21px;
}
.left {
  padding-right: 100px;
  position: relative;
  z-index: 2;
  text-align: left;
  padding-left: 16px;
  letter-spacing: 0em;
 
  padding-top: 50px;
  

}
.right {
  padding-right: 30vw;
  position: relative;
  z-index: 2;
  text-align: left;
  margin-left: auto;
  padding-top: 40px;
}
.left p, .right p{
    margin: 0px;
    font-size: 14px;
     
}

.ham {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  color: black;
}
.last{
  color: rgba(227, 228, 230, 0.55);
  background-color: black;
  height: 50px;
  margin: auto;
  padding-top: 20px;
  font-size: 14px; 
}
.go-to-the-top {
  position: fixed;
  right: 10px; 
  width: 50px;
  z-index: 1000;
  visibility: visible;
  top: 30%;
  color: rgb(235, 235, 235); 
  background-color: transparent !important;
}
.go-to-the-top:hover {
  background-color: transparent !important;
}

.go-to-the-top:active {
  background-color: transparent !important;
}
@media only screen and (min-width: 1022px){
  .go-to-the-top{
    display: none;
  }
}



@media only screen and (max-width: 1022px) {
  .go-to-top {
    display: block; 
  }
  .row {
    flex-direction: column;
  }

  .column,
  .column-wide {
    height: auto;
  }
  .column:nth-child(3) {
    order: 1;
  }
  .column:nth-child(2) {
    order: 2;
  }
  .logo img {
    display: none;
  }
  .flamingo img {
    width: 100%;
    height: 400.95px;
    margin-top: 80px;
    position: relative;
    right: 12px;
  }
  .desktop-navbar {
    display: none;
  }
  .nav-link {
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 700;
  }
  .anchor {
    font-size: 23px;
    text-decoration: none;
    font-weight: 700;

  }
  .nav-link:hover {
    color: #aae800;
  }

  .drawer-content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 36px;
  }

  .drawer-link {
    display: flex;
    align-items: flex-end;
  }

  .ham {
    display: block;
    position: absolute;
    top: 21px;
    right: 21px;
  }
  .close-icon {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    z-index: 1000;
    margin-top: 150px;
    margin-right: -70%;
    width: 30px;
    height: 30px;
    position: absolute;
    visibility: visible !important;
    
  }

  .fname,
  .lname {
    font-size: 24px;
  }

  .about {
    font-size: 16px;
  }
  .MuiDrawer-paper {
    width: 80% !important;
  }
  .footer {
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    height: 600px;
    
  }
  
  .footer .left,
  .footer .right {
    padding: 0;
    margin-left: 15px;
    text-align: left;
    width: 100%;
    padding-bottom: 30px;  
    margin-top: 2rem; 
  }
  .footer .right{
    padding-top: 8px;
  }

}

@media only screen and (max-width: 800px) {
  .fname,
  .lname {
    font-size: 24px;
  }

  .about {
    font-size: 16px;
  }
  
}

@media screen and (min-width: 539px) and (max-width: 1021px) {
  .footer .left,
  .footer .right {
   margin-top: 20px;
    margin-left: -2rem;
    
}

}
